*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat( 3, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 1rem;
    padding: 2rem;
    grid-auto-rows: 1fr;
    justify-content: center;
}

.item{
    border: 1px solid black;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:700px) {
    .container{
        grid-template-columns:  repeat(auto-fit, 200px) ;
        grid-template-rows: repeat(auto-fit, 1fr);
        justify-content: center;
    }

    .item1{
        grid-column: 1;
    }
}

/* The code above for task 34 */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.item{
background-color: blueviolet;
display: flex;
align-items: center;
justify-content: center;
}

.item1{
    grid-column: 1/ span 2;
}

.item2{
    grid-column: 1/ span 2;
}

@media (max-width: 600px) {
   .container{
        grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
        grid-template-rows: repeat(5, 200px);
        justify-content: center;
   } 

   .item1{
    grid-column: 1;
   }

   .item2{
    grid-column: 1;
   }
} */


